<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Cardify</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="../css/test.css">
</head>

<body class="indigo lighten-5">

  <!-- header -->
  <header>
    <nav class="indigo lighten-2">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Cardify</a>
      </div>
    </nav>
  </header>

  <!-- section -->
  <main>
      <div class="row">
        <div class="center">
          <div class="container center">
            <img src="../assets/images/perro1.jpg" alt="Cachorro1" class="responsive-img">
            <img src="../assets/images/perro2.jpg" alt="Cachorro2" class="responsive-img">
            <img src="../assets/images/perro3.jpg" alt="Cachorro3" class="responsive-img">
            <img src="../assets/images/perro4.jpg" alt="Cachorro4" class="responsive-img">
            <img src="../assets/images/perro5.jpg" alt="Cachorro5" class="responsive-img">
            <img src="../assets/images/perro6.jpg" alt="Cachorro6" class="responsive-img">
            <img src="../assets/images/perro7.jpg" alt="Cachorro7" class="responsive-img">
            <img src="../assets/images/perro8.jpg" alt="Cachorro8" class="responsive-img">
          </div>
        </div>
      </div>
  </main>

  <!-- CDN de jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="../../src/path-to-cardify.js"></script>
  <script src="../../src/app.js"></script>
</body>

</html>
