.hover {
  width: 30%;
  height: 30%;
  opacity: 0.5;
  position: relative;


}

.letter {
  font-family: fantasy;
  font-size: 30px;
  margin-top: 10px;
  transform: translate(12%,-500%);
  margin-bottom: 100px;
}
